@use "sass:math";
/* Overwrite Bootstrap variables. */
$body-color: #000000;
$font-size-base: 0.875rem;
$paragraph-margin-bottom: math.div($font-size-base, 2);
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
@import "stylings/fonts";
@import "stylings/theme";
